{% extends "base.html"%}
{% load static %}
{% comment %} Las 2 lineas de arriba tienen que estar en toda pagina para aplicar bien los templates. {% endcomment %}

{% block contenido %}
    <!-- Contenido específico de la página -->
  <main class="container-fluid">
    <div class="container main-container">
      <h1 class="text-center">WaffleDecks</h1>
      <h5 class="text-center">Creamos los mejores Stream Decks hechos en 3D</p>
    </div>
    <div id="carouselExample" class="carousel slide col-4 mx-auto">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'imgs/logoclaudio.jpg'%}" class="d-block w-100" alt="logo" width="700" height="500">
        </div>
        {% for deck in decks %}
          <div class="carousel-item">
          <img src="{{ deck.imagen.url }}" class="d-block w-100" alt={{deck.nombreDeck}} width="700" height="500">
        </div>
        {%endfor%}
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr>
  </main>
  <div class="container" id="descriptionContainer">
    <div class="row">
      <div class="col-4">
        <h3>¿Qué es un StreamDeck?</h3>
        <p class="text-justify">Un Stream Deck es un panel de control personalizable que se conecta a tu ordenador y te
          permite activar acciones específicas con solo tocar un botón. Con el Stream Deck, puedes hacer cosas como
          iniciar una transmisión en vivo, cambiar la escena, ajustar el volumen, activar un GIF o reproducir un efecto
          de sonido, todo sin tener que buscar entre las pestañas de tu software de streaming.
          <br>
          El Stream Deck es altamente personalizable, lo que significa que puedes crear tus propias acciones y
          asignarlas a cualquier botón. Ya sea que seas un creador de contenido, un streamer, un productor de video o
          simplemente alguien que quiere simplificar su flujo de trabajo en línea, el Stream Deck puede ayudarte a
          ahorrar tiempo y mejorar la calidad de tus producciones en vivo.
        </p>
      </div>
          <div class="col-8 text-center d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'imgs/imagenclaudio1.jpg'%}" class="card-img-top" alt="StreamDeck1">
              <div class="card-body">
                <a href="catalogo.html" class="btn btn-primary">Ir al catálogo</a>
              </div>
            </div>
          </div>
    </div>
  </div>
  </div>
{% endblock %}