{% extends "base.html"%}
{% load static %}
{% block contenido %}
  <div class="container-fluid">
    <h1>Catalogo de productos</h1>
    <div id="catalogo" class="row">
      {% for deck in decks %}
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="{{ deck.imagen.url }}" class="card-img-top" alt="{{ deck.nombreDeck }}">
            <div class="card-body">
              <h5 class="card-title">{{ deck.nombreDeck }}</h5>
              <p class="card-text">{{ deck.precioDeck }}</p>
              <button href="#" producto-id ="{{deck.idDeck}}"class="btn btn-success agregar-carrito">Agregar</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{%endblock%}
